@import "~antd/dist/antd.css";

.Item {
  border-style: solid;
  padding: 5px;
  margin: 5px;
}

.Board {
  width: 33%;
  padding: 10px;
}

.Button {
  margin: 10px;
  margin-top: 40px;
}
.ItemButton {
  margin: 10px;
}

.BoardContainer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.ListContainer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.List {
  width: 400px;
  padding: 30px;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
  text-align: center;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
